*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primarycolor: rgba(255, 255, 255, 1);
  --secondarycolor: rgba(63, 63, 63, 0.1);
}

.nav-bar-section {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 2rem;
  width: 100%;
  border-bottom: 2px solid black;
}

.left-nav {
  display: flex;
}

#item1 {
  padding: 0.2rem;
}

#item2 {
  padding: 0.2rem;
}

.right-nav {
  display: flex;
}

#item3 {
  padding: 0.2rem;
}

#item4 {
  padding: 0.2rem;
}

.new-restaurant-images {
  width: 100%;
}

.restaurant-image1 {
  border-bottom: 2px solid black;
  width: 100%;
  margin-bottom: 0;
}

.recentandtoprated {
  display: flex;
  font-size: 0.5rem;
  background-color: var(--secondarycolor);
  height: 8rem;
  justify-content: space-between;
}

.recentandtop {
  text-align: center;
  padding-right: 3rem;
  border: 2px solid var(--secondarycolor);
}

.text1 {
  background-color: var(--primarycolor);
  border: 2px solid blue;
}
.input-fieldsection {
  background-color: var(--secondarycolor);
  border: 2px solid black;
}

.inputfield-heading {
  text-align: center;
  margin-top: 0, 2rem;
}
.inputfield-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0.5rem;
}

.inputfield {
  width: 10rem;
  margin-bottom: 1rem;
}

.inputfield1 {
  font-size: 0.1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.calc-section {
  display: flex;
}
.calc-section1 {
  height: 10rem;
  background-color: var(--secondarycolor);
  width: 14rem;
  text-align: center;
  border: 2px solid black;
}

@media screen and (min-width: 667px) {
  .nav-bar-section {
    height: 4rem;
    align-items: center;
    border-bottom: 2px solid black;
  }

  .left-nav {
    margin-left: 4rem;
  }

  #item1 {
    padding: 0.2rem;
    margin-right: 1rem;
  }

  #item2 {
    padding: 0.2rem;
  }

  .right-nav {
    margin-right: 4rem;
  }
  #item3 {
    padding: 0.2rem;
    margin-right: 1rem;
  }

  #item4 {
    padding: 0.2rem;
  }
  .recentandtoprated {
    font-size: 0.8rem;
    height: 12rem;
    justify-content: space-between;
  }

  .recentandtop {
    text-align: center;
    border: 2px solid var(--secondarycolor);
    padding-left: 4rem;
  }

  .text1 {
    text-align: center;
    height: 7rem;
    padding-top: 1rem;
  }
  .percentage-text {
    margin-bottom: 1.5rem;
  }

  .input-fieldsection {
    background-color: var(--secondarycolor);
    border: 2px solid black;
    height: 25rem;
  }

  .inputfield-heading {
    margin-top: 2.5rem;
  }

  .inputfield-box {
    margin-left: 5rem;
  }

  .inputfield {
    width: 15rem;
    height: 2rem;
    font-size: 1.5rem;
  }

  .inputlabel {
    font-size: 1.5rem;
  }

    div .submit-button {
    width: 5.5rem;
    height: 2rem;
    display: flex;
    margin-left: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    
  }

  .calc-section {
    display: flex;
    height: 15rem;
    background-color: var(--secondarycolor);
  }
  .calc-section1 {
    width: 100%;
    height: 15rem;
    text-align: center;
    border: 2px solid black;
    padding-top: 2rem;
  }


}
