@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primarycolor: rgba(255, 255, 255, 1);
  --secondarycolor: rgba(63, 63, 63, 0.1);
  --appnamecolor: rgba(0, 100, 0, 1);
}

.nav-bar {
  background-color: var(--primarycolor);
  position: fixed;
  z-index: 1;
  width: 100%;
}

.nav-bar-section {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 2rem;
  width: 100%;
  font-family: "Oswald", sans-serif;
}

.left-nav {
  display: flex;
}

#item1 {
  padding: 0.2rem;
  border-radius: 20%;
  font-size: 1.2rem;
}

#item2 {
  padding: 0.2rem;
  font-size: 1.2rem;
}

.right-nav {
  display: flex;
}

#item3 {
  padding: 0.2rem;
  font-size: 1.2rem;
}

#item4 {
  padding: 0.2rem;
  font-size: 1.2rem;
}

.new-restaurant-images {
  width: 100%;
}

.restaurant-image1 {
  width: 100%;
  margin-bottom: 0;
}

.recentandtoprated {
  display: flex;
  background-color: var(--secondarycolor);
  height: 8rem;
  justify-content: space-between;
}

.recentandtop {
  text-align: center;
  padding-right: 4rem;
  border: 2px solid var(--secondarycolor);
  font-family: "Oswald", sans-serif;
}

.text1 {
  background-color: var(--primarycolor);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-fieldsection {
  background-color: var(--secondarycolor);
}

.inputfield-heading {
  text-align: center;
  margin-top: 2rem;
}
.inputfield-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.2rem;
}

.inputfield {
  width: 10rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 667px) {
  .nav-bar-section {
    height: 4rem;
    align-items: center;
    border-bottom: 2px solid black;
  }

  .left-nav {
    margin-left: 4rem;
  }

  #item1 {
    padding: 0.2rem;
    margin-right: 1rem;
  }

  #item2 {
    padding: 0.2rem;
  }

  .right-nav {
    margin-right: 4rem;
  }
  #item3 {
    padding: 0.2rem;
    margin-right: 1rem;
  }

  #item4 {
    padding: 0.2rem;
  }
  .recentandtoprated {
    font-size: 0.8rem;
    height: 12rem;
    justify-content: space-between;
  }

  .recentandtop {
    text-align: center;
    border: 2px solid var(--secondarycolor);
    padding-left: 4rem;
  }

  .text1 {
    text-align: center;
    height: 7rem;
    padding-top: 1rem;
  }
  .percentage-text {
    margin-bottom: 1.5rem;
  }

  .input-fieldsection {
    background-color: var(--secondarycolor);
    height: 25rem;
  }

  .inputfield-heading {
    margin-top: 2.5rem;
  }

  .inputfield-box {
    margin-left: 5rem;
  }

  .inputfield {
    width: 15rem;
    height: 2rem;
    font-size: 1.5rem;
  }

  .inputlabel {
    font-size: 1.5rem;
  }

  div .submit-button {
    width: 5.5rem;
    height: 2rem;
    display: flex;
    margin-left: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .nav-bar-section {
    height: 4rem;
    align-items: center;
    border-bottom: 2px solid black;
  }

  .left-nav {
    margin-left: 4rem;
  }

  #item1 {
    padding: 0.2rem;
    margin-right: 1rem;
  }

  #item2 {
    padding: 0.2rem;
  }

  .right-nav {
    margin-right: 4rem;
  }
  #item3 {
    padding: 0.2rem;
    margin-right: 1rem;
  }

  #item4 {
    padding: 0.2rem;
  }
  .recentandtoprated {
    font-size: 0.8rem;
    height: 12rem;
    justify-content: space-between;
  }

  .recentandtop {
    text-align: center;
    border: 2px solid var(--secondarycolor);
    padding-left: 4rem;
  }

  .text1 {
    text-align: center;
    height: 7rem;
    padding-top: 1rem;
  }
  .percentage-text {
    margin-bottom: 1.5rem;
  }

  .input-fieldsection {
    background-color: var(--secondarycolor);

    height: 25rem;
  }

  .inputfield-heading {
    margin-top: 2.5rem;
  }

  .inputfield-box {
    margin-left: 15rem;
  }

  .inputfield {
    width: 15rem;
    height: 2rem;
    font-size: 1.5rem;
  }

  .inputlabel {
    font-size: 1.5rem;
  }

  div .submit-button {
    width: 5.5rem;
    height: 2rem;
    display: flex;
    margin-left: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 1106px) {
  .nav-bar-section {
    height: 4rem;
    align-items: center;
  }

  .left-nav {
    margin-left: 4rem;
  }

  #item1 {
    padding: 0.2rem;
    margin-right: 1rem;
  }

  #item2 {
    padding: 0.2rem;
    color: var(--appnamecolor);
    margin-right: 1rem;
  }

  .right-nav {
    margin-right: 2rem;
    align-items: center;
  }

  #item4 {
    padding: 0.2rem;
  }

  #item5 {
    padding: 0.5rem;
    font-size: 1.8rem;
  }
  .restaurant-image1 {
    height: 40rem;
  }
  .recentandtoprated {
    font-size: 0.8rem;
    height: 30rem;
    justify-content: space-evenly;
    align-items: center;
  }

  .recentandtop {
    text-align: center;
    border-radius: 2%;
    height: 20rem;
    overflow-y: scroll;
  }

  .recentandtop::-webkit-scrollbar {
    width: 0px;
  }

  .eachList {
    margin-bottom: 1rem;
    font-weight: 800;
  }

  .topratedrestaurant-list {
    list-style: none;
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  .recentrestaurant-list {
    list-style: none;
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  .recentandtop-heading {
    font-size: 1.5rem;
  }

  .text1 {
    height: 8rem;
    padding-top: 1rem;
  }
  .percentage-text {
    margin-bottom: 1.5rem;
  }

  .input-fieldsection {
    background-color: var(--secondarycolor);
    height: 25rem;
  }

  .inputfield-heading {
    padding: 2rem;
  }

  .inputfield-box {
    margin-left: 18rem;
  }

  .inputfield {
    width: 17rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 5%;
    border: 2px solid var(--primarycolor);
  }

  .inputlabel {
    font-size: 1rem;
    font-weight: 600;
  }

  div .submit-button {
    width: 5.5rem;
    height: 2rem;
    display: flex;
    margin-left: 25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .calc-heading {
    text-align: center;
    padding: 2rem;
  }

  .calc-section {
    display: flex;
    justify-content: space-evenly;
  }

  #firstcalc-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #secondcalc-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .months {
    margin-bottom: 4rem;
  }

  .header {
    margin-bottom: 1rem;
  }

  .main-footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    padding: 4rem;
    background-color: black;
    height: 18rem;
    width: 100%;
    color: var(--primarycolor);
    align-items: center;
    margin-bottom: 1rem;
  }

  #appname {
    color: var(--appnamecolor);
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    margin-bottom: 7rem;
    margin-left: 5rem;
  }

  #appnamewhite-text {
    color: var(--primarycolor);
  }

  .applesect {
    display: flex;
    border: 2px solid var(--primarycolor);
    border-radius: 0.5rem;
    height: 3.5rem;
    align-items: center;
    padding: 1rem;
  }

  .applepay-logo {
    margin-right: 1rem;
  }

  .googleplay-sect {
    display: flex;
    border: 2px solid var(--primarycolor);
    border-radius: 0.5rem;
    height: 3.5rem;
    align-items: center;
    padding: 1rem;
    align-items: center;
  }

  .googleplay-logo {
    margin-right: 1rem;
  }

  .socialmedia {
    display: flex;
  }

  .eachsocial {
    margin-right: 0.8rem;
  }

  .footer-innertext {
    margin-top: 1rem;
  }

  .calcbackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .minibg {
    min-width: 40%;
    min-height: 300px;
    max-height: 50vh;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: fixed;
    background-color: var(--primarycolor);
    border: 2px solid black;
    overflow-y: scroll;
    margin: 2px;
    border-radius: 2rem;
  }

  .minibg::-webkit-scrollbar {
    width: 0px;
  }

  .ul-spent {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    color: black;
  }

  .ul-location {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 2rem;
    color: black;
    list-style: none;
  }

  .location-div {
    margin-top: 1rem;
  }
}

.one {
  display: flex;
  justify-content: center;
}
.money {
  margin-right: 0.5rem;
}
.display-moneysection {
  display: flex;
  justify-content: center;
}

.display-eachmonth {
  margin-left: 1rem;
  color: var(--appnamecolor);
}
